

 .markdown h1 {
    font-size: 32px;
    color: black;
    font-weight: 500;
    padding: 0px 0px 20px 0px;
  }

  .markdown h2 {
    font-size: 24px;
    color: black;
    padding: 15px 0px 15px 0px;
  }

  .markdown h3 {
    color: black;
    font-size: 24px;
    font-weight: 500;
    padding: 15px 0px 15px 0px;
  }

  .markdown h4 {
    color: black;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
  }
  .markdown p {
    color: black;
    padding: 10px 0px 10px 0px;
  }
  .markdown strong {
    font-weight: 500;
  }

  .markdown li {
    color: black;
    display: flex;
    gap: 10px;
    padding: 0px 0px 0px 15px;
  }

  .markdown li:first-child {
    min-width: 500px;
    margin-right: 10px;
  }

  .markdown li strong {
    min-width: 500px;
    margin-right: 10px;
  }
  .markdown table {
    border-collapse: collapse;
  }

  .markdown td,
  .markdown th {
    text-align: left;
    padding: 10px;
  }

  .markdown hr {
    display: none;
    color: white;
    background-color: white;
  }

  .markdown th:first-of-type {
    border-top-left-radius: 10px;
  }
  .markdown th:last-of-type {
    border-top-right-radius: 10px;
  }
  .markdown tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  .markdown tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }

  .markdown tr {
    border-bottom: 1px solid #d4d4d4;
  }


  .markdown ul {
    display: flex;
    flex-direction: column;
  }
